.cabecalho__container {
    background-color: var(--preto);
    padding: 37px 24px 37px 24px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho__logo--icone-mobile,
.cabecalho__navegacao--mobile {
    display: block;
}

.cabecalho__logo--icone,
.cabecalho__navegacao {
    display: none;
}

.banner__wrapper {
    position: relative;
    overflow: hidden;
}

.banner__text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: var(--branco, #fff);
    line-height: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 24px 40px 0px;
}

.banner__img {
    width: 100%;
    display: block;
    transform: scaleX(-1);
}

.banner__text__highlight {
    border-bottom: 4px solid #B81515;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.container {
    padding: 88px 24px 88px 24px;
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.contato__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 39.01px;
}

.contato__titulo--sublinhado {
    width: 180px;
    height: 4px;
    background: var(--vermelho);
    margin: 0 auto;
    margin-top: 16px;
}

.contato__paragrafo {
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.form__container {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 64px;
}

.form__group-grupo {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}

label {
    position: absolute;
}

.label__textarea {
    position: static;
}

.label__textarea,
.label__cor-cinza {
    color: var(--cinza-escuro);
    font-size: 16px;
}


input {
    border: none;
    border-bottom: 3px solid #D9D9D9;
    outline: none;
}

textarea {
    border: 2px solid #D9D9D9;
    border-radius: 8px;
    outline: none;
}

#nome {
    border-bottom: 3px solid var(--vermelho);
}

.form__item--botao-container {
    display: flex;
    justify-content: center;
}

.form__item--botao {
    border-radius: 8px;
    background: var(--vermelho, #B81515);
    padding: 16px 48px;
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
}

.form__item--botao-texto {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--branco, #FFF);   
}

.pre-footer__image {
    vertical-align: bottom;
}

.footer__container {
    background-color: var(--preto);
    padding: 32px 24px 32px 24px;
}

.footer__logo-icon {
    width: 161.5;
    height: 60px;
}

.footer__info-container {
    margin-top: 16px;
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__text-info,
.footer__social-media-text {
    color: var(--neutral-c);
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.footer__social-media-container {
    margin-top: 32px;
}

.footer__social-media-icons {
    margin: 16px;
}

@media (min-width: 834px) {

    .cabecalho__container,
    .footer__container,
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }


    .cabecalho {
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner__text {
        width: 579px;
        height: 303px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .label__textarea,
    .label__cor-cinza {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {

    .cabecalho__logo--icone-mobile,
    .cabecalho__navegacao--mobile {
        display: none;
    }

    .cabecalho__logo--icone,
    .cabecalho__navegacao {
        display: block;
    }

    .cabecalho__container {
        padding: 37px 120px 37px 120px;
    }

    .cabecalho {
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .cabecalho__logo--icone {
        width: 260px;
        height: 64px;
    }

    .cabecalho__navegacao {
        display: flex;
        gap: 40px;
    }

    .cabecalho__navegacao--item {
        color: var(--branco);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .container {
        padding: 104px 120px 104px 120px;
    }
    
    .banner__text {
        width: 579px;
        height: 303px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .banner__text--paragrafo {
        font-size: 32px;
    }

    .contato__paragrafo {
        font-size: 20px;
        line-height: 32px;
    }

    form {
        padding-left: 205px;
        padding-right: 205px;
    }

    .form__group-grupo {
        flex-direction: row;
        gap: 24px;
        width: 100%;
    }

    .form__group {
        width: 100%;
    }

    .label__textarea,
    .label__cor-cinza {
        font-size: 20px;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        padding: 52px 120px 52px 120px;
        justify-content: space-between;
    }

    .footer__logo-container {
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }

    .footer__text-info {
        font-size: 20px;
        text-align: left;
    }

}